<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>consumer_Key</key>
	<string>ry3sB009W6UWySTm669ZL8hol</string>
	<key>consumer_Secret</key>
	<string>tJOeZRkLrs2iPAagh6roJJ3EwUKzf9rbijSaGcUzyegPOhAboL</string>
</dict>
</plist>
